@use "../abstracts" as *;
@use "../base" as *;

.button {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border-width: 0;
  background: $gray-color;
}

.button--lightblue {
  background: $gray-color;
  color: $secondary-color;

  &:hover {
    background: $secondary-color;
    color: $gray-color;
    cursor: pointer;
  }
}

.button--orange {
  background: $primary-color;
  color: $gray-color;

  &:hover {
    background: $primary-light-color;
    cursor: pointer;
  }
}
