// Color Palette

$primary-color: rgb(241, 103, 24);
$primary-light-color: rgb(255, 155, 98);
$secondary-color: rgb(22, 37, 66);
$secondary-light-color: rgb(123, 139, 173);
$gray-color: rgb(232, 239, 242);
$white-color: rgb(255, 255, 255);
